<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/shaderback.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript">
    window.onload = shaderback.loadURL("/js/shader.txt");
    </script>

  </head>
  <body>
    <h1 id="logo"><%= title %></h1>
    <h3>Community. Industry. Liberty.</h3>

    <p>
    Kombucha, Tea, coffee and bagels <br /><br />
    73 Box Street <br />
	Brooklyn, NY <br />

    


  </body>
</html>
